<!DOCTYPE html>
<html ng-app="routerApp">
<head>


    <%include cdn.ejs%>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/mainpagestyle.css' />


    <% include userMainPageHeader %>
</head>
<body style= "background-color: #f5f8fa"  >
<div ui-view="header"></div>
<div ui-view="content" ></div>
<div ui-view="footer"></div>

</body>
</html>
