
<nav class="navbar navbar-default">

    <div class="container-fluid">

        <div class="col-md-2 col-md-offset-5">


                    <img src="/images/logo.png " class="logo img-responsive "   alt="logo" alt="logo" width="21" height="24">


        </div>


            <div class=" pull-right align" >
                <ul class="nav navbar-nav">
                    <li >
                        <a ui-sref="app" class=""  role="button" >
                        <small style="color: white;">Have an account?</small> <span class="emphasize" style="color: white"> Log in</span>
                        </a>
                    </li>
                </ul>
            </div>

    </div>

</nav>
